.collapse-button {
    margin-bottom: 10px;
}

h2 {
    font-weight: bold;
}

header {
    padding-top: 18px;
    padding-bottom: 15px;
    border-top: 5px solid #007bff;
}

footer {
    margin-top: 40px;
    padding: 10px;
    text-align: center;
}

.full-w {
    width: 100%;
    margin-top: 10px;
}

.dropdown {
    height: 100%;
}

.nav .btn {
    margin-left: 10px;
    height: 100%;
}

header .container {
    padding: 0;
}